<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HoneyBook Contacts</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="dist/css/main.min.css" rel="stylesheet" />
    <link href="https://file.myfontastic.com/7KujuNntTztz6aomBikAad/icons.css" rel="stylesheet">
</head>
<body ng-app="honeybookApp" ng-controller="honeybookCtrl">

    <section id="header">
        <div class="container">
            <h1>Contact List</h1>
            <div class="input-group search-bar">
                <input type="text" class="form-control" ng-model="search" placeholder="search..." />
                <span class="input-group-addon icon icon-search"></span>
            </div>
        </div>
    </section>

    <section id="contact-list" class="ng-cloak" ng-cloak>
        <div class="container">
            <h5 class="contact-list-message" ng-show="contactsModel.loading">
                <span class="icon icon-loading"></span> Loading Contacts
            </h5>
            <h5 class="contact-list-message" ng-show="!contactsModel.loading && filtered.length == 0">
                There are no contacts available.
            </h5>
            <div class="row" ng-hide="contactsModel.loading">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="contact in contactsModel.contacts | filter:{name: search} as filtered">
                    <div class="contact-card">
                        <div class="contact-background" preload-bg-image="{{contact.profile_image}}"></div>
                        <div class="contact-slider">
                            <img ng-src="{{contact.icon}}" preload-image class="contact-icon" />
                            <h4>{{contact.name}}</h4>
                            <p class="contact-subtitle">
                                <span ng-show="contact.job">{{contact.job}} |</span>
                                <span ng-show="contact.company_name">@{{contact.company_name}}</span>
                            </p>
                            <p class="contact-details">
                                <span ng-show="contact.phone">Phone: {{contact.phone}}<br></span>
                                <span ng-show="contact.email">
                                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Javascript files -->
    <script src="dist/js/vendor.min.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>
</html>