body {
    color: $paragraph-color;
    background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
}
p, a, a:visited, input {
    color: $paragraph-color;
}
a:hover {
    color: $header-color;
}