//this is used to stop a flash of 
//unstyled content before angular is ready
.ng-cloak {
    display: none !important;
}
#contact-list {
    padding: 15px 0px;

    .contact-list-message {
        padding: 30px 0px;
        text-align: center;
        .icon {
            display: inline-block;
            vertical-align: middle;
            animation: fa-spin 2s infinite linear;
        }
    }

    @-webkit-keyframes fa-spin {
        0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
        }
    }
}

.contact-card {
    margin: 7.5px 0px;
    height: 330px;
    padding: 15px;
    overflow: hidden;
    background-color: $color-background-header;

    .contact-background {
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: $color-background;
    }

    .contact-slider {
        position: relative;
        width: 100%;
        height: auto;
        background-color: $color-background-header;
        transition: 300ms all;
        z-index: 2;

        .contact-icon {
            width: 70px;
            height: 70px;
            margin-top: -40px;
        }
        h4 {
            margin: 15px 0px 0px;
        }
        .contact-details {
            opacity: 0.0;
            transition: 300ms all;
        }
    }
}
.contact-card:hover .contact-slider {
    margin-top: -50px;

    .contact-details {
        opacity: 1.0;
    }
}
@media(min-width: $screen-sm){
    #contact-list {
        padding: 60px 0px;
    }
    .contact-card {
        .contact-background {
            background-position: top center;
            background-size: cover;
        }
    }
    .contact-card:hover .contact-slider {
        margin-top: -50px;
    }
}