#header {
    padding: 15px 0px;
    text-align: center;
    background-color: $color-background-header;

    h1 {
        margin: 10px 0px;
        padding : 0px;
    }

    .search-bar {
        width: 280px;
        max-width: 100%;
        margin: 15px auto;
        border-radius: 0px;
        border: 1px solid $paragraph-color;

        input {
            border: 0px;
            box-shadow: none;
        }

        .input-group-addon {
            color: $paragraph-color;
            border: 0px;
            background-color: transparent;
        }
    }
}
@media (min-width: $screen-md){
    #header {
        h1 {
            float: left;
        }
        .search-bar {
            float: right;
            width: 500px;
        }
    }
}